<h1>Guide Investimentos - Obras Literarias</h1>
<hr>
<p></p>

<form [formGroup]="form" (ngSubmit)="save()" #formDir="ngForm" novalidate>
  <div class="form-group row">
    <label class="control-label col-md-12" for="Autores">Autores (separados por linha):</label>
    <div class="col-md-12">
      <textarea class="form-control" rows="4" formControlName="Autores"></textarea>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-success float-right">Gerar</button>
  </div>
</form>


<table class="table table-sm table-hover" *ngIf="(citacaoResponse$ | async)?.length>0">
    <thead>
      <tr>
        <th>Autor</th>
        <th>Citacao</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let citacaoResponse of (citacaoResponse$ | async)">
        <td>{{ citacaoResponse.autor }}</td>
        <td>{{ citacaoResponse.autorCitacao }}</td>
      </tr>
    </tbody>

